body {
    background-color: #23272A;
    color: #dcddde;
}

.showCaseColors {
    display: flex;
    flex-direction: row;
    padding: 10px;
    border: 2px solid black;
    justify-content: center;
}
.showCaseColor {
    display:flex;
    flex-direction: column;
    border: 2px solid red;
}

.showCaseColor > div {
    margin: 10px;
    border: 2px solid green;
    text-align: center;
    padding: 10px;
}
